body {
    color: red;
}

table {
    border: solid 4px black;
    margin: auto;
    margin-top: 240px;
    padding: 10px;
    background-color: gray;
}

td {
    border: solid 4px black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
} 
